language: node_js
node_js:
  - "14"
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH="$HOME/.yarn/bin:$PATH"
cache: yarn
script:
  - yarn run build:ci
after_success:
  - yarn run coverage
