html {
  font-size: 62.5%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  min-height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 2em;
  font-size: 1.6rem;
  font-family: monospace;
  color: #333;
}
body,
input,
button {
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
