.textarea {
  width: 100%;
  outline: 0;
  padding: 10px;
  border: none;
  background-color: $white;
  border-left: 1px solid #DEE2E2;
  resize: none;
  /*font-size: $fontSize--small;*/
  color: #777;
}

