$base-color      : #334249;
$base-fontFamily : Helvetica, Helvetica Neue, Arial, sans-serif;
$base-lineHeight : 1.75rem;

$fontSize--root  : 16px;
$fontSize--small : 0.813rem;
$fontSize--h1    : 2.625rem;

$white           : #FFF;
